@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body{
    font-family: "Lato", sans-serif;
}
.music-title{
    text-align: center;
    margin: 20px 0px; 
    color: #aa1bd1;   
    font-weight: 600;
    font-size: 50px;
    font-style: italic;    
}
.music-card{
    background-color: #E5E8F1;
    min-height: 300px;
    padding: 60px 40px;
    border-radius: 20px;
}
.music-disk{
    background-color: #F1F2F7;
    padding: 20px 10px; 
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.music-disk img{
    border-radius: 50%;
    height: 240px;
    width: 240px;
}
.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.action-btn {
    background-color: #F1F2F7;
    border: 0;
    color: #aa1bd1;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}
.action-btn:focus {
    outline: 0;
  }
  
.audio-input {
    display: none;
}
.voladdsongbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#player {
    width: 350px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 80px;
  }
  #player i {
    position: absolute;
    margin-top: -6px;
    color: #666;
  }
  #player i.fa-volume-down {
    margin-left: -8px;
  }
  #player i.fa-volume-up {
    margin-right: -8px;
    right: 0;
  }
  .vltbtn{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .settings-btn{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  #volume {
    position: absolute;
    left: 84px;
    margin: 0 auto;
    height: 5px;
    width: 100px;
    background: #555;
    border-radius: 15px;
  }
  #volume .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #aa1bd1;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  #volume .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
  }
  
#title{
    color: #aa1bd1;
    font-size: 20px;
    font-weight: 600;
}
.music-container {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    padding: 20px;
    /* margin: 20px 0px 0px 0px; */
    z-index: 10;
    width: 100%;
  }  
.playlist-ctn {
  overflow-y: scroll;
  margin: 40px 0px 0px 0px;
  margin-bottom: 35px;
  max-height: 195px;
}
.playlist-track-ctn {
  display: flex;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
  color: #aa1bd1;
}
.playlist-track-ctn > div {
  margin: 10px;
  color: #000000;

}
.playlist-info-track {
  width: 80%;
}
.playlist-info-track,
.playlist-duration {
  padding-top: 7px;
  padding-bottom: 7px;
  color: red;
  font-size: 14px;
  pointer-events: none;
}
.active-track {
  background: #ffff;
  color: #aa1bd1 !important;
  font-weight: bold;
}
.active-track > .playlist-info-track,
.active-track > .playlist-duration,
.active-track > .playlist-btn-play {
  color: #aa1bd1 !important;
}
.playlist-btn-play {
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}
.progress {
  background: #aa1bd1;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
.music-info {
  border-radius: 15px 15px 0 0;
  position: relative;
  top: 60px;
  /* left: 20px; */
  width: calc(100% - 40px);
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}  
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}
.img-container img {   
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.music-container.play .img-container img {
  animation-play-state: running;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:576px) {
    .music-card{
        padding: 10px;
    }
    
    .music-section{
      margin: 20px 0px;
    }
    #volume{
        left: 65px;
        width: 60px;
    }
}

@media only  screen and (min-width:577px) and (max-width:768px){
  .music-card{
      padding: 20px;
  }  
  .music-disk img {
      height: 200px;
      width: 200px;
  }
  .playlist-ctn {
      max-height: 130px;
  }
}

@media screen and  (min-width:1024px) {
  .playlist-ctn {
      max-height: 160px;
  }
}